*~
*.Rhistory
*.aux
*.bbl
*.out
*.toc
*.blg
*.dvi
*.log
*.Rout
*.RData
*.Rdata
*.prv/
*.eps
*.fdb_latexmk
*.tar.gz
*.Rcheck
*.figlist
*.makefile

ltxpng/*
ltxpng

auto
_region_.*
print

*.mk
paper.pdf
sec/*.pdf
tex/*.pdf
tex/*.tex
calhoun-paper.pdf
presentation.aux
presentation.log
presentation.nav
presentation.org
presentation.org~
presentation.out
presentation.pdf
presentation.snm
presentation.tex
presentation.tex~
presentation.toc
presentation/*.pdf
Rplots.pdf
presentation/slides.*

mc/*.pdf
mc/*.tex
mc/*.map
mc/*.sh
mc/db/*.created
mc/plots/*
*.db
*.done
mc/db/*
mc-setup.mk
mc/*.Rnwout
calhoun-oos-paper.pdf

empirics/plots/*
empirics/*.done
empirics/tables/*

slides/*.aux
slides/*.log
slides/*.nav
slides/*.org
slides/*.out
slides/*.pdf
slides/*.snm
slides/*.tex
slides/*.tex~
slides/*.toc

backup.bzr
slide.vrb
slides/*.vrb
calhoun-oos-overfit.pdf
paper.pdf
slides/*.pdf
main.bib

empirics/*.pdf
empirics/plots
empirics/tables
AllRefs.bib
Online
slides/slide-plots/asymptotics-1b.pdf
slides/slide-plots/asymptotics-1.pdf
slides/slide-plots/auto
slides/slide-plots/makeplots.R
slides/slide-plots/overview-1.pdf
slides/slide-plots/overview-1.tex
slides/slide-plots/overview-2b.pdf
slides/slide-plots/overview-2b.tex
slides/slide-plots/overview-2.pdf
slides/slide-plots/overview-2.tex
slides/slide-plots/overview-3.pdf
slides/slide-plots/overview-3.tex
slides/slide-plots/overview-4.pdf
slides/slide-plots/overview-5.pdf
slides/slide-plots/trueOOS-1a.pdf
slides/slide-plots/trueOOS-1b.pdf
slides/slide-plots/trueOOS-2.pdf
