floats
VERSION.tex
*backup
*.pdf

# For emacs
*~

# For simulations
data/*.db
data/*.done
*-journal
*.mk

# For interactive R
*.Rhistory
*.Rout
*.RData
*.Rdata

# For R packages
*.tar.gz
package/fwPackage
package/fwPackage_1.0_source/src/*.o
package/fwPackage_1.0_source/src/*.so
package/*.Rcheck

# For LaTeX
ltxpng
auto
_region_.*
*.aux
*.auxlock
*.bbl
*.blg
*.dpth
*.dvi
*.eps
*.fdb_latexmk
*.figlist
*.fls
*.log
*.makefile
*.md5
*.out
*.prv/
*.toc

paper*.sh
appendix*.sh
*.stderr
*.stdout