export(
  expected.loss.future,
  expected.loss.test,
  EL,
  f.test,
  ForecastErrors,
  forecasts,
  GenerateOosForecast,
  GenerateOosPair,
  model.null,
  model.alt,
  ntest,
  qmccracken,
  rows
  )

useDynLib("fwPackage")
